page-welcome {
    
    #welcome{
        //background: color($colors, lightblue);
        font-family: bookman;
        background-image: url('../assets/imgs/garden.jpg');
        background-size: 100%;
        h1{
            text-align: center;
            font-family: bookman;
            font-size: 35px;
            margin-top: 150px;
            color: rgb(255, 255, 255);
        }
        div{
            text-align: center;
            color: rgb(255, 255, 255);
            //padding: 25px;
        }
        .marginTop{
            border-radius: 50px;
            margin-top:  250px;
            margin-bottom: 10px;
        }
        .marginBottom{
            border-radius: 50px;
        }
        .logo{
            display: block;
            margin-left: auto;
            margin-right: auto;
            //width: 50%;
        }
    }
    }